.book-cover {
    max-width: 300px;
    margin: 0 auto; 
}

.book-details {
    text-align: center;
}

.description {
    text-align: justify;
}

.borrow-download {
    text-align: center;
}

.related-books {
    text-align: center;
}
